<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>car</td><td>groupTest.f()[pri:0, instance:Groupexp.groupTest@17d99928]<br/>groupTest.g()[pri:0, instance:Groupexp.groupTest@17d99928]<br/></td></tr>
<tr><td>scootor</td><td>groupTest.i()[pri:0, instance:Groupexp.groupTest@17d99928]<br/>groupTest.h()[pri:0, instance:Groupexp.groupTest@17d99928]<br/></td></tr>
</table>
