<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c9176">  <td>15/10/13 15:51:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="practice_cls.f()[pri:0, instance:practicepack.practice_cls@6ad5c04e]">f</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="9c9176">  <td>15/10/13 15:51:12</td>   <td>-19757</td> <td>&nbsp;</td><td title="&gt;&gt;practice_cls.start()[pri:0, instance:practicepack.practice_cls@6ad5c04e]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
</table>
