<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sample</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4b5b8">  <td>15/09/09 13:40:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="url.A()[pri:0, instance:com.test.url@d7b1517]">A</td> 
  <td>main@1142020464</td>   <td></td> </tr>
<tr bgcolor="aa7090">  <td>15/09/09 13:40:15</td>   <td>15336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="login.B()[pri:0, instance:com.test.login@2eee9593]">B</td> 
  <td>main@1142020464</td>   <td></td> </tr>
</table>
