<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite One</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eda0e0">  <td>15/09/22 12:22:26</td>   <td>0</td> <td title="&gt;&gt;baseClass.beforeSuite()[pri:0, instance:Practice.Classtwo@43df23d3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@79782883</td>   <td></td> </tr>
<tr bgcolor="d4b5b8">  <td>15/09/22 12:22:30</td>   <td>4647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classone.f()[pri:0, instance:Practice.Classone@2cb4893b]">f</td> 
  <td>main@79782883</td>   <td></td> </tr>
<tr bgcolor="a08b8f">  <td>15/09/22 12:22:30</td>   <td>4690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Classtwo.f()[pri:0, instance:Practice.Classtwo@43df23d3]">f</td> 
  <td>main@79782883</td>   <td></td> </tr>
<tr bgcolor="eda0e0">  <td>15/09/22 12:22:32</td>   <td>5951</td> <td title="&lt;&lt;baseClass.afterSuite()[pri:0, instance:Practice.Classtwo@43df23d3]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@79782883</td>   <td></td> </tr>
</table>
