<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="956de9">  <td>15/08/20 17:40:52</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;reportTestNG.start()[pri:0, instance:com.reporttestng.reportTestNG@6833ce2c]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="956de9">  <td>15/08/20 17:40:55</td>   <td>3131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="reportTestNG.f()[pri:0, instance:com.reporttestng.reportTestNG@6833ce2c]">f</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="956de9">  <td>15/08/20 17:41:02</td>   <td>10226</td> <td>&nbsp;</td><td title="&lt;&lt;reportTestNG.stop()[pri:0, instance:com.reporttestng.reportTestNG@6833ce2c]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
</table>
