<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CMSSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< HEAD
<tr bgcolor="7cd475">  <td>15/09/28 15:41:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="maven.Maventest1.mavenTest.f()">f</td> 
=======
<tr bgcolor="7cd475">  <td>15/08/12 15:10:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="maven.Maventest1.mavenTest.f()">f</td> 
>>>>>>> 5094f9f89e75fa990b42c07f705ff51849aa0159
  <td>main@896681694</td>   <td></td> </tr>
</table>
